<%= form_for(@employee) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group mt-2 justify-content-md-center" >
<%= f.label :name, class: "col-form-label" %>
<div class="row justify-content-md-center">
<div class="col-sm-9">
<%= f.text_field :name, class:"form-control" %>
</div>
</div>
</div>

<div class="form-group mt-2 justify-content-md-center">
<%= f.label :email, class: "col-form-label" %>
<div class="row justify-content-md-center">
<div class="col-sm-9">
<%= f.email_field :email, class:"form-control" %>
</div>
</div>
</div>

<div class="form-group mt-2 justify-content-md-center">
<%= f.label :password, class: "col-form-label" unless @employee.omniauth %>
<div class="row justify-content-md-center">
<div class="col-sm-9">
<%= f.password_field :password, class:"form-control" unless @employee.omniauth %>
</div>
</div>
</div>

<%= f.label "Select Your Dealership"%><br>
<%= f.collection_select :dealership_id, Dealership.all, :id, :name, {selected: "#{Dealership.all.first.name}"}, {class: "form-control display-menus mb-2"} %><br>



<%= f.label "Are you a manager?"%><br>
<%= f.check_box :manager, class: "mb-4" %>

<div class="row justify-content-md-center">
<div class="col-lg-8 col-md-8">
<%= f.submit yield(:button_text), class:"btn btn-outline btn-xl js-scroll-trigger btn-block nobackground"%>
</div>
</div>

<% end %>

