
<div class="text-center mt-3">
<div class="container">
  <%= render partial: "shared/flash_messages", flash: flash %>
</div>
<h1 class="display-4">Welcome <%=current_user.name%></h1>
<p class="fa fa-briefcase fa-lg" aria-hidden="true"> Employer: <%= current_user.employer.name%></p><br>
<p class="fa fa-male fa-lg" aria-hidden="true"> <%=pluralize(display_manager.split(",").size, "Manager")%>: <%= display_manager %></p><br>
<p class="fa fa-key fa-lg" aria-hidden="true"> Permission Level: <%=current_user_permission%></p>
<p class="display-5 mb-5">Where would you like to go?</p>
</div>


            <div class="container-fluid">
              <div class="row top-buffer justify-content-center mt-3">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="feature-item mt-2">
                    <%= link_to "Edit Profile", edit_employee_path(current_user.id), class: "btn btn-outline btn-xl js-scroll-trigger btn-block" %>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="feature-item mt-2">
                    <%= link_to "Go to your dealership", dealership_path(current_user.dealership.id), class: "btn btn-outline btn-xl js-scroll-trigger btn-block"%>
                  </div>
                </div>
              </div>
              <div class="row top-buffer justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="feature-item mt-2">
                    <%= link_to "View all co-workers", employees_path, class: "btn btn-outline btn-xl js-scroll-trigger btn-block"%>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="feature-item mt-2">
                    <%= link_to "See your lot", dealership_vehicles_path(current_user.dealership.id), class: "btn btn-outline btn-xl js-scroll-trigger btn-block" %>
                  </div>
                </div>
              </div>

              <div class="row top-buffer justify-content-center mt-3">
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="feature-item mt-2">
                    <%= link_to "Home", root_path, class: "btn btn-outline btn-xl js-scroll-trigger btn-block" %>
                  </div>
                </div>
              </div>
    
          

        </div>
      </div>
      