<div class="container">
  <div class="row justify-content-center">
    <h1>New Dealership?</h1>
  </div>
  <div class="row justify-content-center mt-3 mb-3">
    <%= image_tag("welcome-dealership.png", size: "270x70") %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-3 col-md-4 mb-2">
      
      <%= link_to "Create", new_dealership_path, class: "btn btn-outline btn-xl js-scroll-trigger btn-block" %>
    </div>
    <div class="col-lg-3 col-md-4">
      <%= link_to "Back Home", root_path, class: "btn btn-outline btn-xl js-scroll-trigger btn-block" %>
    </div>
  </div>
</div>

<div class="container js-dealership-list">
  <div class="row justify-content-md-center">
    <div class="container mt-5">
      <%= render partial: "shared/flash_messages", flash: flash %>
    </div>
    <%= render @dealerships %>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="btn-test" class="btn btn-primary" data-toggle="modal" data-target="#test">
  Launch demo modal
</button>

<!-- Modal -->

<div class="modal fade" id="test" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<script id="test-template" type="text/x-handlebars-template">

<form action="/dealerships" accept-charset="UTF-8" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>


<div class="form-group mt-2 justify-content-md-center">
<label class="col-form-label" for="dealership[name]">Name</label>
<div class="row justify-content-md-center">
<div class="col-sm-9">
<input class="form-control" type="text" name="dealership[name]" id="dealership[name]">
</div>
</div>
</div>

<div class="form-group mt-2 justify-content-md-center">
<label class="col-form-label" for="dealership[city]">City</label>
<div class="row justify-content-md-center">
<div class="col-sm-9">
<input class="form-control" type="text" name="dealership[city]" id="dealership[city]">
</div>
</div>
</div>

<div class="row justify-content-md-center">
<div class="col-lg-8 col-md-8">
<input type="submit" name="commit" value="" class="btn btn-outline btn-xl js-scroll-trigger btn-block top-buffer nobackground" data-disable-with="">
</div>
</div>
</form>

</script>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>













