<%= f.fields_for :dealership_vehicle do |dealership_vehicle_builder|%>


<%= dealership_vehicle_builder.hidden_field :dealership_id, value: @vehicle.dealership_vehicle.dealership_id unless f.object.is_a?(Dealership)%>
<div class="form-group justify-content-md-center" >

<div class="container">
<div class="row justify-content-md-center">
        <div>
            <%= dealership_vehicle_builder.check_box :is_lot_ready, id:"ready_checkbox", class:"big-checkbox align-middle ml-4", id:"fancy-checkbox-default" %>
            <div class="[ btn-group ] mt-3">
                <label for="fancy-checkbox-default" class="[ btn btn-default ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                </label>
                <%= dealership_vehicle_builder.label :is_lot_ready, id:"lot_button", for: "fancy-checkbox-default", class:"btn btn-outline btn-xl js-scroll-trigger btn-block"%>                   
            </div>
        </div>
    </div>
</div>
</div>

<div class="form-group mt-2 justify-content-md-center" >
<%= dealership_vehicle_builder.label :buyer, class: "col-form-label" %>
<div class="row justify-content-md-center">
<div class="col-sm-9">
<%= dealership_vehicle_builder.text_field :buyer, list: "buyers", class:"form-control" %>
<datalist id="buyers">
<% DealershipVehicle.all.group_by(&:buyer).map{|k, v| v.first}.each do |dealership_vehicle|%>
<option value="<%=dealership_vehicle.buyer%>">
<%end%>
</datalist>
</div>
</div>
</div>

<div class="form-group mt-2 justify-content-md-center" >
<%= dealership_vehicle_builder.label :price, class: "col-form-label" %>
<div class="row justify-content-md-center">
<div class="col-sm-9">
<%= dealership_vehicle_builder.number_field :price, class: "form-control mb-4" %>
</div>
</div>
</div>


<%end%>
