    <tr>
      <td><%=vehicle.dealership.name%></td>
      <td><%=vehicle.make%></td>
      <td><%=vehicle.model%></td>
      <td><%=vehicle.year%></td>
      <td><%=vehicle.dealership_vehicle.price%></td>
      <td><%=vehicle.dealership_vehicle.buyer%></td>
    </tr>
