<h1><%= @vehicle.make%></h1>

<%= link_to "Back", url_for(:back) %><br>
<%= link_to "Edit Vehicle", edit_vehicle_path(@vehicle.id) %><br>
<%= link_to "View All Dealership's Vehicles", dealership_vehicles_path(@vehicle.dealership.id) %><br>

<%= form_tag vehicle_path(@vehicle.id), method: 'delete'%>
<%= submit_tag "Delete #{@vehicle.make}"%>