<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right command-center" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link js-scroll-trigger" %>
            </li>
          <% if current_user.present? %>
            <li class="nav-item">
                <%= link_to "Command Center", employee_path(current_user.id), id:"js-nav-cc", class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log Out", logout_path, method: 'DELETE', class: "nav-link js-scroll-trigger" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Start Now", signup_path, class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", login_path, class: "nav-link js-scroll-trigger" %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>


<script id="command-center-template" type="text/x-handlebars-template">

<div class="text-center mt-3">
  <div class="container">
    <%= render partial: "shared/flash_messages", flash: flash %>
  </div>
    <h1 class="display-4">Welcome <%=current_user.name%></h1>
      <p class="fa fa-briefcase fa-lg" aria-hidden="true"> Employer: <%= current_user.employer.name%></p><br>
      <p class="fa fa-male fa-lg" aria-hidden="true"> <%=pluralize(display_manager.split(",").size, "Manager")%>: <%= display_manager %></p><br>
      <p class="fa fa-key fa-lg" aria-hidden="true"> Permission Level: <%=current_user_permission%></p>
      <p class="display-5 mb-5">Where would you like to go?</p>
  </div>
  <div class="container-fluid">
    <div class="row top-buffer justify-content-center mt-3">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="feature-item mt-2">
          <a href="/employees/{{id}}/edit" class="btn btn-outline btn-xl js-scroll-trigger btn-block">Edit Profile</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="feature-item mt-2">
          <a href="/dealerships/{{dealership.id}}" class="btn btn-outline btn-xl js-scroll-trigger btn-block">Go to your dealership</a>
        </div>
      </div>
    </div>
    <div class="row top-buffer justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="feature-item mt-2">
          <%= link_to "View all co-workers", employees_path, class: "btn btn-outline btn-xl js-scroll-trigger btn-block"%>
        </div>
      </div>
       <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="feature-item mt-2">
          <a href="/dealerships/{{dealership.id}}/vehicles" class="btn btn-outline btn-xl js-scroll-trigger btn-block">See your lot</a>         
        </div>
      </div>
    </div>
    <div class="row top-buffer justify-content-center mt-3">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="feature-item mt-2">
          <%= link_to "Home", home_path, class: "btn btn-outline btn-xl js-scroll-trigger btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>

</script>

<script id="new-dealership-modal" type="text/x-handlebars-template">

  <div class="modal fade" id="new-dealership" tabindex="-1" role="dialog" aria-labelledby="newDealershipModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content background">
        <div class="modal-header">
          <h5 class="modal-title" id="newDealershipModal">New Dealership</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

         <form onsubmit="createDealership()" accept-charset="UTF-8">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-group">
            <label for="dealership[name]" class="col-form-label">Name:</label>
            <input class="form-control" type="text" name="dealership[name]" id="dealership[name]">
          </div>
          <div class="form-group">
            <label for="dealership[city]" class="col-form-label">City:</label>
            <input class="form-control" type="text" name="dealership[city]" id="dealership[city]">
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" name="commit" value="Create" class="btn btn-outline btn-xl btn-block" data-disable-with="">
        </form>

      </div>
    </div>
  </div>
</div>

</script>

</nav>