<!DOCTYPE html>
<head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    
  </head>
  <body>
<%= render 'layouts/navbar'%>
    
      <%= yield %>
      <div class="container">
        <div class="row  mt-5" id="github">
          <div class="col-lg-12 mr-auto text-center">
          <a class="github" href="https://github.com/omikolaj/virtual-dealership-manager">
            <i class="fa fa-github fa-3x mb-3 github"></i>
            <p>
              omikolaj1@gmail.com
            </p>
            </a>
          </div>
        </div>
      </div>
    </body> 
</html>
